<div class="perso">
  <img class="portrait" src="/assets/moi.PNG" alt="portrait">
  <h1>Renaud Moiselet</h1>
  <h3>{{languages.myTitle}}</h3>
</div>

<div class="container">
  <div>
    <h2>About me</h2>
    <p [innerHTML]="languages.aboutMe"></p>
  </div>

  <div>
    <h2>Contact</h2>
    <ul>
      <li><i class="fab fa-2x fa-linkedin"></i><a href="https://www.linkedin.com/in/renaud-moiselet/">LinkedIn</a></li>
      <li><i class="fab fa-2x fa-github"></i><a href="https://github.com/Ayss83">GitHub</a></li>
      <li><i class="fas fa-2x fa-envelope"></i><a routerLink="">Email</a></li>
    </ul>
  </div>
</div>