nav {
  background-color: lavender;
  display: flex;
  justify-content: flex-end;
  height: 4em;
  align-items: center;
  padding: 0 5em;
  position: fixed;
  z-index: 200;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  margin: 0 15px;
  color: black;
}

nav img {
  max-width: 30px;
  margin: 0 0.5em;
}